.navbar{
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid black;
    font-size: large;
    width: 100%;
    background: aliceblue;
    overflow: hidden;
    position: fixed;
    top: 0;
}
.cart{
    padding-right: 30px;
}

section{
    cursor: pointer;
}